In [1]:
import numpy as np
import pandas as pd

In [2]:
#criando dataframe de dados 
df = pd.DataFrame(
    {'Dia':['Segunda','Terça','Quarta',
            'Quinta','Sexta','Sábado','Domingo'],
    'Horas Trabalhadas':[6,7,8,6,7,5,4],
    'Bugs Corrigidos':[3,2,1,4,3,2,1],
    'Tarefas Concluídas':[5,4,6,4,5,3,2]}
)

In [3]:
df

       Dia  Horas Trabalhadas  Bugs Corrigidos  Tarefas Concluídas
0  Segunda                  6                3                   5
1    Terça                  7                2                   4
2   Quarta                  8                1                   6
3   Quinta                  6                4                   4
4    Sexta                  7                3                   5
5   Sábado                  5                2                   3
6  Domingo                  4                1                   2

### Respostas das perguntas propostas

#### 1) Total horas trabalhadas

In [4]:

total_hrs_trab = df['Horas Trabalhadas'].sum()

print("Horas trabalhadas:",total_hrs_trab)

Horas trabalhadas: 43

#### 2) Média Diária de Horas Trabalhadas dia

In [5]:
media_hrs_dia = (df['Horas Trabalhadas']).sum() / 7

print("Média Horas trabalhadas dia: {:.3}hrs".format(media_hrs_dia))

Média Horas trabalhadas dia: 6.14hrs

#### 3) Total de Bugs Corrigidos

In [6]:
tot_bugs_corrigidos = df['Bugs Corrigidos'].sum()

print("Total Bugs Corrigidos:",tot_bugs_corrigidos)

Total Bugs Corrigidos: 16

#### 04) Média Diária de Bugs Corrigidos

In [7]:

med_tot_bugs_corrigidos = (df['Bugs Corrigidos'].sum()) / 7

print("Média Total Bugs Corrigidos dia:{:.3}".format(med_tot_bugs_corrigidos))

Média Total Bugs Corrigidos dia:2.29

#### 5) Total de Tarefas Concluídas

In [8]:
total_taref_concluida = df['Tarefas Concluídas'].sum()

print("Total tarefas concluídas:",total_taref_concluida)

Total tarefas concluídas: 29

#### 6) Média Diária de Tarefas Concluídas

In [9]:
media_taref_concluida = (df['Tarefas Concluídas'].sum()) / 7

print("Média dia Tarefa Concluída:{:.3}".format(media_taref_concluida))

Média dia Tarefa Concluída:4.14

#### 7.1) Calcula a produtividade e armazena numa variavel temporaria

In [10]:
temp01 = df['Tarefas Concluídas'] / df['Horas Trabalhadas']

#### 7.2) Armazena o valor anterior no formato de lista

In [11]:
temp02= []
for i in temp01:
    temp02.append(i)
    
temp02

[0.8333333333333334,
 0.5714285714285714,
 0.75,
 0.6666666666666666,
 0.7142857142857143,
 0.6,
 0.5]

#### 7.3) Produtividade Diária (Tarefas Concluídas por Hora)

In [12]:
produtividade = pd.DataFrame({'Produtividade':temp02},index=df['Dia'])
produtividade

         Produtividade
Dia
Segunda       0.833333
Terça         0.571429
Quarta        0.750000
Quinta        0.666667
Sexta         0.714286
Sábado        0.600000
Domingo       0.500000

### Conclusão